<header class="header">
  <div class="header-seach">
    <form class="header-form" action="">
      <label for="input">
        <input class="header-search__input" type="text" name="searchQuery"
        autocomplete="off" placeholder="Search images..."" />
      </label>
      <button class="header-search__btn" type="submit">Search</button>
    </form>
  </div>
</header>
<section class="section">
  <div class="photo-card">
    <img src="./images/logo.png" alt="" loading="lazy" />
    <div class="info">
      <p class="info-item">
        <b>Likes</b>
      </p>
      <p class="info-item">
        <b>Views</b>
      </p>
      <p class="info-item">
        <b>Comments</b>
      </p>
      <p class="info-item">
        <b>Downloads</b>
      </p>
    </div>
  </div>
</section>
<button type="button" class="load-more">Load more</button>
