.header-seach {
  background-color: rgb(37, 37, 199);
  padding: 20px;
  margin-bottom: 20px;
}

.header-form {
  display: flex;
  justify-content: center;
}
.header-search__btn {
  background-color: rgb(230, 230, 230);
  border: none;
  border-radius: 10%;
  font-size: 0;
}
.header-search__input {
  display: block;
  height: 28px;
}
.header-search__btn::before {
  content: '';
  background-image: url(../images/searchicon.svg);
  display: block;
  width: 24px;
  height: 24px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, 380px);
  grid-gap: 1rem;
  grid-auto-rows: auto;
  justify-content: center;
}
.photo-card {
  margin-left: 5px;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0.051);
}
.photo-card img {
  width: 100%;
}
.info {
  display: flex;
}
